<h1>RssEntries#index</h1>
<table class="table">
   <thead>
      <tr>
         <th>Title</th>
         <th>Post DateTime</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <% @rails_entries.items.each do |item| %>
         <tr>
            <td><%= item.title.content %></td>
            <td><%= item.updated.content %></td>
            <td><button type="button" class="btn btn-primary">Detail</button></td>
            <td><button type="button" class="btn btn-danger">Read</button></td>
         </tr>
      <% end %>
   </tbody>
</table>
